server:
  port: 8085
spring:
  h2:
    console:
      enabled: true
      path: /console
      settings:
        web-allow-others: true
  jpa:
    database: POSTGRESQL
    show-sql: true
    hibernate:
      ddl-auto: create-drop
   
  datasource:
    platform: postgres
    url: jdbc:postgres://ec2-54-246-117-62.eu-west-1.compute.amazonaws.com:5432/db6aou0e8v6lf5
    username: cpxmtiwvfpmood
    password: 781179129de5c9404ec6144e67eacbb706ec876af919e56d8beca1490ded7ffd
    driverClassName: org.postgresql.Driver
    
    
    